<p id="notice"><%= notice %></p>

<% if @player.avatar.attached? %>

<%= image_tag @player.avatar.variant(resize_to_limit: [100, 100]) %> <br/>

<% end %>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
